{% extends "landing/base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">{% trans "Sign Out" %}</h1>
                    <p class="lead mb-4">{% trans 'Are you sure you want to sign out?' %}</p>
                    
                    {% url 'account_logout' as action_url %}
                    <form method="post" action="{{ action_url }}" class="form">
                        {% csrf_token %}
                        {{ redirect_field }}
                        
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <a href="{% url 'social:post-list' %}" class="btn btn-outline-secondary me-md-2">
                                {% trans "Cancel" %}
                            </a>
                            <button type="submit" class="btn btn-danger">
                                {% trans 'Sign Out' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
